.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 50px;
    width: 97%;
    background-color: #000000;
    padding: 20px;
    color: rgb(184, 181, 181);
}


.footer_left{
    flex: 0.3;
    display: flex;
    align-items: center;
    width: 300px;
}

.footer_center{
    flex: 0.4;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    flex-direction: column;
}
.slider{
    width: 500px;
    display:flex ;
    gap: 10px;
    align-items: center;
    
}
.footer_center * .MuiSlider-root{
    color:rgb(0, 185, 0); 
}
.footer_right{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer_songinfo > h4{
    margin-bottom: 5px;
}

.footer_songinfo > p{
    font-size: 12px;
}

.footer_albumlogo{
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer_icon:hover,
.footer_green:hover{
    transition: transform 0.1s ease-in-out;
    transform: scale(1.1) !important ;
    color: white;
}

.footer_right * .MuiSlider-root {
    color: rgb(0, 185, 0);
}

.controls{
    flex: 0.4;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 250px;
    gap: 10px;
}
