.sidebar{
    height: 100vh ;
    flex: 0.2;
    background-color: #000000;
    color: white;
    height: 100vh;
    min-width: 260px;
    padding: 8px;
}

.sidebar1{
    background-color: #201f1f;
    border-radius: 10px;
    height: 15%;
     

}
.sidebar2{
    background-color: #201f1f;
    border-radius: 10px;
    height: 85%;
    margin-top: 8px;

}