.sidebarImage > img{
    height: 40px;
    width: 40px;
}
.sidebarImage {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 10px;
    margin-top: 15px;
    color: rgb(184, 181, 181);
}

.sidebarImage > p:hover{
    cursor: pointer;
    color: white;
}