.sidebarOption{
    display: flex;
    align-items: center;
    color: rgb(184, 181, 181);
    height: 40px;
    cursor: pointer;
    transition:200ms color ease-in;
    padding-top: 10px;
    
   
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption_icon{
    padding-left : 30px; 
    padding-right: 15px ;
}